
body{
    background-color:rgb(224,203,168);
    margin:0px;
}

body::-webkit-scrollbar{
    width:0 !important;
}


/* ---------------------------------Navigation Bar----------------------*/
#navBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

#logo{
    height:50px;
    width:50px;
    margin-left: 10px;
}

#navBar_links{
    width:360px;
    margin-left: 20px;
}

#creationPageNav{
    margin-left: 15px;
    color: #88498f;
    font-size: 16px;
    opacity: 50%;
}

.otherNavOption{
    text-decoration: none;
    margin-left: 15px;
    color: #88498f;
    font-size: 16px;
}

/* ---------------------------------MAIN SECTION CONTAINER----------------------*/

#main_section{
    width:100%;
    height:500px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------MAIN CONTAINER - LEFT ----------------------*/

#left_of_main_section{
    width:30%;
    height:100%;
    background-color: rgb(86,65,84);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top_of_left_container{
    height:10%;
    width:100%;
    display: flex;
    justify-content: space-between;
}

#upload{
    width:50%;
    height:100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-right-radius: 10px; */
    cursor: pointer;
}

#inject{
    width:49%;
    height:100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-right-radius: 10px; */
    cursor: pointer;
    border-left:1px solid black;
}

#image{
    height:200px;
    width:180px;
}

#name_location{
    width:100%;
    height:50;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

#file_viewer{
    width:100%;
    height:480px;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#file_location{
    width:160px;
    height:40px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

#file_name{
    width:160px;
    height:40px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
#upload_file{
    width:80%;
    height:60px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

/* ---------------------------------MAIN SECTION - RIGHT----------------------*/

#right_of_main_section{
    width:65%;
    height:100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#top_of_right_container{
    width:100%;
    height:10%;
    background-color: rgb(86,65,84);
    display: flex;
    justify-content: flex-start;
}
/* ---------------------------------DROPDOWN MENUS----------------------*/

#project_dropdown_menu{
    height:100%;
    width:150px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#filter_dropdown_menu{
    height:100%;
    width:150px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    cursor: pointer;
    border-left:1px solid black;
}

/* ---------------------------------BOTTOM OF RIGHT CONTAINER----------------------*/

#bottom_of_right_container{
    height:100%;
    width:100%;
    background-color: black;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#bottom_of_right_container::-webkit-scrollbar{
    width:0 !important;
}
/* ---------------------------------FILE FRAMEWORK STYLES----------------------*/

#placeholder_file_container{
    margin-top: 10px;
    margin-left:10px;
    width: 90px;
    height:120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border:1px solid black;
    cursor: pointer;

}
#placeholder_file_container:hover{
    border:1px solid blue;
}
#icon{
    width: 80px;
    height:100px;
    background-color:white ;
    border-top-right-radius: 10px;
}

#file_name_in_container{
    font-size: 15px;
    color:white;
}

/* ---------------------------------WEBSITE RESPONSIVENESS----------------------*/

@media (max-width:1000px){
    
    #main_section{
        width:100%;
        height:1000px;
        flex-direction: column;

    }

    #left_of_main_section{
        width:100%;

    }

    #right_of_main_section{
        width:100%;
        margin-top: 20px;


    }
}