
body{
    background-color: #e0cba8;
    margin:0px;
}

/*------------------NAVBAR------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#left_of_nav{
    display: flex;
    align-items: center;
}

.logo{
    height:50px;
    width:50px;
    margin-right: auto;
    margin-left: 10px;
}

.userProfile{
    width:30px;
    height:30px;
    margin-right: 10px;
    }

.otherNavOption{
    text-decoration: none;
    margin-left: 15px;
    color: #88498f;
    font-size: 16px;
}
        
.homePageNav{
    margin-left: 15px;
    color: #88498f;
    font-size: 16px;
    opacity: 50%;
}
/*------------------HIDDEN MENU------------------------*/
#menu{
    height:120px;
    width:120px;
    background-color: #88498f;
    position: absolute;
    top:40px;
    right:20px;
    z-index: 2;
    border:1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.settings{
    width:120px;
    height:30px;
    background-color: white;
    opacity: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log_out{
    width:120px;
    height:30px;
    background-color: white;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid black;
    text-decoration: none;
    color:black;
    
}
.terms{
    width:120px;
    height:30px;
    background-color: white;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid black;
}
.account{
    width:120px;
    height:30px;
    opacity: 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid black;
}
.settings:hover, .dark-light:hover, .terms:hover,.account:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}

/*------------------ITEMS IN BANNER - LEFT----------------------------------------*/

#banner_background{
    margin-top: 150px;
    background-color:#564154 ;
    width:100%;
    height:200px;
    display: flex;
    position:absolute;
}

#left_of_banner{
    width:60%;
    height:200px;
    overflow-y: hidden;
    overflow-x:hidden
}


span{
    color:aliceblue;
    font-size: 4.5rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    position: relative;
    z-index: 2;
    display:block;
    animation:spin-words 16s infinite; /*16s is the standard*/
    height:100%;
    display: flex;
    align-items: center;
}

/*------------------BANNER - LEFT - WORD ANIMATION------------------------*/
@keyframes spin-words{
    5%{
        transform: translateY(-112%);
    }
    10%{
        transform: translateY(-100%);
    }
    15%{
        transform: translateY(-212%);
    }
    20%{
        transform: translateY(-200%);
    }
    25%{
        transform: translateY(-312%);
    }
    30%{
        transform: translateY(-300%);
    }
    35%{
        transform: translateY(-412%);
    }
    50%{
        transform: translateY(-400%);
    }
    55%{
        transform: translateY(-512%);
    }
    60%{
        transform: translateY(-500%);
    }
    65%{
        transform: translateY(-612%);
    }
    70%{
        transform: translateY(-600%);
    }
    75%{
        transform: translateY(-712%);
    }
    80%{
        transform: translateY(-700%);
    }
    85%{
        transform: translateY(-812%);
    }
    100%{
        transform: translateY(-800%);
    }
}

/*------------------ITEMS IN BANNER - RIGHT-----------------------------------*/
#right_of_banner{
    width:40%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#under_banner{
    display: none;
}

.ballDecor{
    position:absolute;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 30px white;
    border-right:2px solid white;
}

#axis1{
    height: 80px;
    width:80px;
    animation: anime-1 5s linear infinite;
}

#axis1 #lil_ball1{
    height: 60px;
    width:60px;
    left:-150px;
    top:-100px;
    animation: anime-1 3s linear infinite;
}

#axis1 #lil_ball2{
    height: 40px;
    width:40px;
    left:70px;
    top:70px;
    animation: anime-1 5s linear infinite;
}

#lil_ball3{
    height: 30px;
    width:30px;
    left:60px;
    top:60px;
}

#lil_ball5{
    height: 70px;
    width:70px;
    left:-60px;
    top:150px;
}
/*------------------BANNER RIGHT - ANIMATION------------------------*/
@keyframes anime-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*------------------PAGE FOOTER-------------------------------------*/
#footer{
    width:100%;
    height:50px;
    position:absolute ;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#gitHubIcon{
    width:30px;
    height:30px;
}

#linkedInIcon{
    width:40px;
    height:40px;
}

#line{
    width:90%;
    height:2px;
    background-color: black;
}

/*------------------WEBSITE RESPONSIVENESS-------------------------------------*/

@media (max-width:500px)  {
    #left_of_banner{
        width:100%;

    }
    #right_of_banner{
        display: none;
    }
    #under_banner{
        display: block;
        width:40%;
        height:200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20%;
        left:50%;
    }
}